/*表单部分*/
#form {
	width: 500px;
	height: 100px;
	margin: 30px auto 0;
}

#form #ReaderInfo {
	outline: 0;
	border: 1px solid blue;
	width: 400px;
	height: 30px;
	border-radius: 10px;
}

#form .find {
	width: 50px;
	height: 30px;
	border-radius: 10px;
	margin-left: 10px;
	background-color: blue;
}

#form .wayArea {
	margin-left: 20px;
	margin-top: 20px;
	width: 400px;
	height: 20px;
}

#form .fingWay {
	color: #666666;
}

/*检索结果区*/
.resultArea {
	width: 1000px;
	height: 280px;
	margin: 0 auto;
}

.resultArea table {
	text-align: center;
}

.resultArea #personResult {
	margin: 0 auto;
	text-align: center;
}